.mb-3 {
    margin: auto;
    width: 25%;
    height: 20vh;

}

.form-label {
    height: 8vh !important;
    background-color:aliceblue !important;
    text-align: center;
    transform: translateY(5px);
    border-radius: 10px !important;

}


